DirectoryIndex index.php
ServerSignature Off
AddDefaultCharset UTF-8
RewriteEngine On

#parcing error from the server
ErrorDocument 404 /error.php

#remove .php from page
RewriteRule "^reg?$ reg.php" [NC,L]
